.resume-main{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 50px;
}

.header{
    padding: 0 20px;
    color:#fff;
    background-color: #777777;
    height: 50px;
    line-height: 50px;
    
}
.body{
    height: calc(100% - 100px);
    padding: 20px;
    box-sizing: border-box;
}