.resume {
    border: 1px solid black;
    width: 70%;
    margin: 4px auto;
    padding: 4px;
    background-color: #e7e7e7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: cadetblue;
    text-align: center;
}
h5{
    text-align: center;
    margin: 1%;
}
h3{
    color: cadetblue;
}
table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
th{
    background-color: cadetblue;
    text-align: center;
}
td{
    border:1px solid cadetblue;
    text-align: center;
}
.objective{
    margin: 30px auto;
}
.skill{
    margin: 0 auto;
}
