.resume {
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
h2{
    color: cadetblue;
    text-align: center;
}
h5{
    text-align: center;
    margin: 1%;
}
h3{
    color: cadetblue;
}
table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
th{
    background-color: cadetblue;
}
td{
    border:1px solid cadetblue;
}
.objective{
    margin: 30px auto;
}

