.name{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 95%;
    margin: 0 auto;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
.education{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px auto;
}
.extra{
    grid-auto-columns: 1fr;
    padding: 2%; 
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
    width: 95%;
    padding: 12px 20px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.nav{
    overflow: hidden;
    background-color: #e7e7e7;
    padding: 20px 10px;
}
button{
    background-color: #6e746673;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px auto;
}
button:hover{
    background-color: gray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px auto;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 200;
    margin: 2px 2px; 
}

.info-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0 auto;
}
.address{
    margin: 20px 0;
}
.project{
    margin: 20px 0;
}
.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0;
}